<h1>/</h1>
<section>
    <a id="buttonUploadFile" class="btn btn-primary">Upload file</a>
    <a id="buttonCreateDirectory" class="btn btn-primary">Create directoy</a>
    <a id="buttonDeleteFile" class="btn btn-danger" disabled="disabled">Delete file</a>
</section>

<section>
    <h1>Loading</h1>
    <table id="content" class="table table-striped">
      <thead>
        <tr>
          <th>Select</th>
          <th>Name</th>
          <th>Type</th>
          <th>Added</th>
        </tr>
      </thead>
      <tbody id="fileSubfiles">
        
      </tbody>
    </table>
</section>